﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucFooter.ascx.vb" Inherits=".ucFooter" %>
<link rel="stylesheet" type="text/css" href="css/rsustyles.css"> 
    <table >
        <tr>
            <td align="right" class="footerleft">
  <img src="images/rsupipfooter.png" width="245"/></td>
         
            <td align="left" valign="middle" class="footerMain">วิทยาลัยเภสัชศาสตร์ มหาวิทยาลัยรังสิต <br />
            52/347 หมู่ 7 ต.หลักหก อ.เมืองปทุมธานี จ.ปทุมธานี 12000 <br /> โทร/โทรสาร 0-2997 2200-30 ต่อ 1423 เบอร์มือถือ 092-2548960 </td>
        </tr>
    </table> 

