
.dc_css3_menu,
.dc_css3_menu ul,
.dc_css3_menu li,
.dc_css3_menu a{margin:0;padding:0;border:none;outline:none}

.dc_css3_menu
{
height:35px;
width:100%;
/*background:#EEEEEE;
background:-webkit-linear-gradient(top,#fd42ab 0%,#ff50b2 100%);
background:-moz-linear-gradient(top,#fd42ab 0%,#ff50b2 100%);
background:-o-linear-gradient(top,#fd42ab 0%,#ff50b2 100%);
background:-ms-linear-gradient(top,#fd42ab 0%,#ff50b2 100%);
background:linear-gradient(top,#fd42ab 0%,#ff50b2 100%);
*/

background:rgb(255,130,172);
background:-moz-linear-gradient(top,rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,130,172,1)),color-stop(100%,rgba(247,37,129,1)));
background:-webkit-linear-gradient(top,rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
background:-o-linear-gradient(top,rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
background:-ms-linear-gradient(top,rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
background:linear-gradient(top,rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff82ac',endColorstr='#f72581',GradientType=0 );

 border-top-left-radius: 10px;
	  border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
	 -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	
	
/*border-bottom:1px solid rgba(0,0,0,0.25);*/
box-shadow:0 1px 1px rgba(0,0,0,0.2);color:#ffffff !important;
cursor:pointer;
moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);

}

.dc_css3_menu li{position:relative;
list-style:none;float:left;
display:block;
height:35px
}
.dc_css3_menu li a{
display:block;padding:0 14px;
margin: 0px 0;line-height:35px;
text-decoration:none;

border-right: 1px solid #ff8acb;
border-left:1px solid #c60a56;
font-family:Helvetica,Arial,sans-serif;
font-weight: normal;font-size:14px;
color:#fff;/*text-shadow:1px 1px 1px rgba(0,0,0,.6);*/
-webkit-transition:color .2s ease-in-out;
-moz-transition:color .2s ease-in-out;
-o-transition:color .2s ease-in-out;
-ms-transition:color .2s ease-in-out;
transition:color .2s ease-in-out;

}

.dc_css3_menu li:first-child a{border-left:none}
.dc_css3_menu li:last-child a{border-right:none}

.dc_css3_menu li.first a:hover{
 border-top-left-radius: 10px;	 
    -moz-border-radius-topleft: 10px;	
    -webkit-border-top-left-radius: 10px;
}

.dc_css3_menu li ul li.lastbottom a{

	 border-bottom:none;
}

.dc_css3_menu li ul li.lastbottom a:hover{
 border-bottom-left-radius: 10px;	 
    -moz-border-radius-bottomleft: 10px;	
    -webkit-border-bottom-left-radius: 10px;	 
	  border-bottom-right-radius: 10px;	 
    -moz-border-radius-bottomright: 10px;	
    -webkit-border-bottom-right-radius: 10px;
	 
	 
}

.dc_css3_menu li ul li.firsttop a{
	 border-top:none;
	 border-bottom: 1px solid #f44088;
	 
}

.dc_css3_menu li ul li.firsttop a:hover{
	 border-top:none;
	 border-bottom: 1px solid #f44088;
}


.dc_css3_menu li:hover>a{color:#ad5004; /*background-color:#ef8200;*/

background:rgb(255,203,72);background:-moz-linear-gradient(top,rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,203,72,1)),color-stop(100%,rgba(255,156,35,1)));
background:-webkit-linear-gradient(top,rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
background:-o-linear-gradient(top,rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
background:-ms-linear-gradient(top,rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
background:linear-gradient(top,rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb48',endColorstr='#ff9c23',GradientType=0 )


} /*  55b6ff*/ 
.dc_css3_menu ul{position:absolute;top: 35px;left:0;
opacity:0;


background:rgb(255,130,172);
background:-moz-linear-gradient(top,rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,130,172,1)),color-stop(100%,rgba(247,37,129,1)));
background:-webkit-linear-gradient(top,rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
background:-o-linear-gradient(top,rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
background:-ms-linear-gradient(top,rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
background:linear-gradient(top,rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff82ac',endColorstr='#f72581',GradientType=0 );



-webkit-border-radius:0 0 5px 5px;
-moz-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px;
-webkit-transition:opacity .25s ease .1s;
-moz-transition:opacity .25s ease .1s;
-o-transition:opacity .25s ease .1s;
-ms-transition:opacity .25s ease .1s;
transition:opacity .25s ease .1s}

.dc_css3_menu li:hover>ul{opacity:1}
.dc_css3_menu ul li{height:0;overflow:hidden;padding:0;
-webkit-transition:height .25s ease .1s;
-moz-transition:height .25s ease .1s;
-o-transition:height .25s ease .1s;
-ms-transition:height .25s ease .1s;
transition:height .25s ease .1s}

.dc_css3_menu li:hover>ul li{height:35px;overflow:visible;padding:0}
.dc_css3_menu ul li a{
width:140px; 
margin:0;
border:none;
border-bottom: 1px solid #f5287a;
}
/*
.dc_css3_menu ul li:last-child a{border:none}

*/
 
.button,.dc_3d_button{color:#fff !important;cursor:pointer;
display:inline-block;font-size:13px;margin:.5em .5em .5em 0;
padding: 5px 10px 0px 10px;text-align:center;text-decoration:none;
text-shadow:0 1px 1px rgba(0,0,0,0.3);
webkit-transition:0.1s linear;
moz-transition:0.1s linear;
ms-transition:0.1s linear;
o-transition:0.1s linear;
transition:0.1s linear}

.button{border-radius:2px;box-shadow:inset rgba(255,255,255,0.3) 1px 1px 0}
.button:active{box-shadow:inset rgba(0,0,0,0.4) 0px 0px 6px}
.rounded{border-radius:20px}


.white{color:#666 !important;background:rgb(245,245,245);background:-moz-linear-gradient(top,rgba(247,247,247,1) 0%,rgba(235,235,235,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(247,247,247,1)),color-stop(100%,rgba(235,235,235,1)));background:-webkit-linear-gradient(top,rgba(247,247,247,1) 0%,rgba(235,235,235,1) 100%);background:-o-linear-gradient(top,rgba(247,247,247,1) 0%,rgba(235,235,235,1) 100%);background:-ms-linear-gradient(top,rgba(247,247,247,1) 0%,rgba(235,235,235,1) 100%);background:linear-gradient(top,rgba(247,247,247,1) 0%,rgba(235,235,235,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7',endColorstr='#EBEBEB',GradientType=0 );border:1px solid #999999}.white:hover{background:rgb(255,203,72);background:-moz-linear-gradient(top,rgba(252,252,252,1) 0%,rgba(238,238,238,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(238,238,238,1)),color-stop(100%,rgba(238,238,238,1)));background:-webkit-linear-gradient(top,rgba(252,252,252,1) 0%,rgba(238,238,238,1) 100%);background:-o-linear-gradient(top,rgba(252,252,252,1) 0%,rgba(238,238,238,1) 100%);background:-ms-linear-gradient(top,rgba(252,252,252,1) 0%,rgba(238,238,238,1) 100%);
background:linear-gradient(top,rgba(252,252,252,1) 0%,rgba(238,238,238,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#EBEBEB',GradientType=0 )}.gray{background:rgb(204,204,204);background:-moz-linear-gradient(top,rgba(204,204,204,1) 0%,rgba(168,168,168,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(204,204,204,1)),color-stop(100%,rgba(168,168,168,1)));background:-webkit-linear-gradient(top,rgba(204,204,204,1) 0%,rgba(168,168,168,1) 100%);background:-o-linear-gradient(top,rgba(204,204,204,1) 0%,rgba(168,168,168,1) 100%);background:-ms-linear-gradient(top,rgba(204,204,204,1) 0%,rgba(168,168,168,1) 100%);background:linear-gradient(top,rgba(204,204,204,1) 0%,rgba(168,168,168,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc',endColorstr='#a8a8a8',GradientType=0 );border:1px solid #999999}.gray:hover{background:rgb(255,203,72);background:-moz-linear-gradient(top,rgba(204,204,204,1) 0%,rgba(182,182,182,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(182,182,182,1)),color-stop(100%,rgba(168,168,168,1)));background:-webkit-linear-gradient(top,rgba(204,204,204,1) 0%,rgba(182,182,182,1) 100%);background:-o-linear-gradient(top,rgba(204,204,204,1) 0%,rgba(182,182,182,1) 100%);background:-ms-linear-gradient(top,rgba(204,204,204,1) 0%,rgba(182,182,182,1) 100%);background:linear-gradient(top,rgba(204,204,204,1) 0%,rgba(182,182,182,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc',endColorstr='#b6b6b6',GradientType=0 )}

.orange{background:rgb(255,183,0);background:-moz-linear-gradient(top,rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,183,0,1)),color-stop(100%,rgba(255,140,0,1)));
background:-webkit-linear-gradient(top,rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
background:-o-linear-gradient(top,rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
background:-ms-linear-gradient(top,rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
background:linear-gradient(top,rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb700',endColorstr='#ff8c00',GradientType=0 );border:1px solid #e59500}

.orange:hover{background:rgb(255,203,72);background:-moz-linear-gradient(top,rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,203,72,1)),color-stop(100%,rgba(255,156,35,1)));
background:-webkit-linear-gradient(top,rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
background:-o-linear-gradient(top,rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
background:-ms-linear-gradient(top,rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
background:linear-gradient(top,rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb48',endColorstr='#ff9c23',GradientType=0 )}


.magenta{
background:rgb(255,130,172);
background:-moz-linear-gradient(top,rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,130,172,1)),color-stop(100%,rgba(247,37,129,1)));
background:-webkit-linear-gradient(top,rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
background:-o-linear-gradient(top,rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
background:-ms-linear-gradient(top,rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
background:linear-gradient(top,rgba(255,130,172,1) 0%,rgba(247,37,129,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff82ac',endColorstr='#f72581',GradientType=0 );border:1px solid #c60a56}

.magenta:hover{
background:rgb(255,155,189);
background:-moz-linear-gradient(top,rgba(255,155,189,1) 0%,rgba(248,62,143,1) 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,155,189,1)),color-stop(100%,rgba(248,62,143,1)));
background:-webkit-linear-gradient(top,rgba(255,155,189,1) 0%,rgba(248,62,143,1) 100%);
background:-o-linear-gradient(top,rgba(255,155,189,1) 0%,rgba(248,62,143,1) 100%);
background:-ms-linear-gradient(top,rgba(255,155,189,1) 0%,rgba(248,62,143,1) 100%);
background:linear-gradient(top,rgba(255,155,189,1) 0%,rgba(248,62,143,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9bbd',endColorstr='#f83e8f',GradientType=0 )}

.blue{background:rgb(11,116,202);background:-moz-linear-gradient(top,rgba(35,139,243,1) 0%,rgba(11,116,202,1) 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(35,139,243,1)),color-stop(100%,rgba(11,116,202,1)));
background:-webkit-linear-gradient(top,rgba(35,139,243,1) 0%,rgba(11,116,202,1) 100%);
background:-o-linear-gradient(top,rgba(35,139,243,1) 0%,rgba(11,116,202,1) 100%);
background:-ms-linear-gradient(top,rgba(35,139,243,1) 0%,rgba(11,116,202,1) 100%);
background:linear-gradient(top,rgba(35,139,243,1) 0%,rgba(11,116,202,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#238BF3',endColorstr='#0B74CA',GradientType=0 );
border:1px solid #3cafcf}

.blue:hover{background:rgb(153,216,244);background:-moz-linear-gradient(top,rgba(53,158,244,1) 0%,rgba(11,116,202,1) 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(53,158,244,1)),color-stop(100%,rgba(11,116,202,1)));
background:-webkit-linear-gradient(top,rgba(53,158,244,1) 0%,rgba(11,116,202,1) 100%);
background:-o-linear-gradient(top,rgba(53,158,244,1) 0%,rgba(11,116,202,1) 100%);
background:-ms-linear-gradient(top,rgba(53,158,244,1) 0%,rgba(11,116,202,1) 100%);
background:linear-gradient(top,rgba(53,158,244,1) 0%,rgba(11,116,202,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E99F4',endColorstr='#0B74CA',GradientType=0 )}

.cyan{background:rgb(130,207,241);
background:-moz-linear-gradient(top,rgba(130,207,241,1) 0%,rgba(56,174,234,1) 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(130,207,241,1)),color-stop(100%,rgba(56,174,23,4,1)));
background:-webkit-linear-gradient(top,rgba(130,207,241,1) 0%,rgba(56,174,234,1) 100%);
background:-o-linear-gradient(top,rgba(130,207,241,1) 0%,rgba(56,174,234,1) 100%);
background:-ms-linear-gradient(top,rgba(130,207,241,1) 0%,rgba(56,174,234,1) 100%);
background:linear-gradient(top,rgba(130,207,241,1) 0%,rgba(56,174,234,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#82cff1',endColorstr='#38aeea',GradientType=0 );
border:1px solid #3cafcf}

.cyan:hover{background:rgb(153,216,244);background:-moz-linear-gradient(top,rgba(153,216,244,1) 0%,rgba(79,183,236,1) 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(153,216,244,1)),color-stop(100%,rgba(79,183,236,1)));
background:-webkit-linear-gradient(top,rgba(153,216,244,1) 0%,rgba(79,183,236,1) 100%);
background:-o-linear-gradient(top,rgba(153,216,244,1) 0%,rgba(79,183,236,1) 100%);
background:-ms-linear-gradient(top,rgba(153,216,244,1) 0%,rgba(79,183,236,1) 100%);
background:linear-gradient(top,rgba(153,216,244,1) 0%,rgba(79,183,236,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#99d8f4',endColorstr='#4fb7ec',GradientType=0 )}

.red{background:#e25b53;background:-moz-linear-gradient(top,#e25b53 0%,#dd2011 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e25b53),color-stop(100%,#dd2011));
background:-webkit-linear-gradient(top,#e25b53 0%,#dd2011 100%);background:-o-linear-gradient(top,#e25b53 0%,#dd2011 100%);
background:-ms-linear-gradient(top,#e25b53 0%,#dd2011 100%);background:linear-gradient(top,#e25b53 0%,#dd2011 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e25b53',endColorstr='#dd2011',GradientType=0 );
border:1px solid #c42222}

.red:hover{background:#dd7671;background:-moz-linear-gradient(top,#dd7671 0%,#dd2011 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#dd7671),color-stop(100%,#dd2011));
background:-webkit-linear-gradient(top,#dd7671 0%,#dd2011 100%);background:-o-linear-gradient(top,#dd7671 0%,#dd2011 100%);background:-ms-linear-gradient(top,#dd7671 0%,#dd2011 100%);
background:linear-gradient(top,#dd7671 0%,#dd2011 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd7671',endColorstr='#dd2011',GradientType=0 )}

.black{background:#444444;background:-moz-linear-gradient(top,#444444 0%,#1c1c1c 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#444444),color-stop(100%,#1c1c1c));
background:-webkit-linear-gradient(top,#444444 0%,#1c1c1c 100%);
background:-o-linear-gradient(top,#444444 0%,#1c1c1c 100%);background:-ms-linear-gradient(top,#444444 0%,#1c1c1c 100%);
background:linear-gradient(top,#444444 0%,#1c1c1c 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444',endColorstr='#1c1c1c',GradientType=0 );border:1px solid #2a2a2a}.black:hover{background:#686868;background:-moz-linear-gradient(top,#686868 0%,#1c1c1c 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#686868),color-stop(100%,#1c1c1c));background:-webkit-linear-gradient(top,#686868 0%,#1c1c1c 100%);background:-o-linear-gradient(top,#686868 0%,#1c1c1c 100%);background:-ms-linear-gradient(top,#686868 0%,#1c1c1c 100%);background:linear-gradient(top,#686868 0%,#1c1c1c 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868',endColorstr='#1c1c1c',GradientType=0 )}.green{background:#82cc5d;background:-moz-linear-gradient(top,#82cc5d 0%,#53b73c 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#82cc5d),color-stop(100%,#53b73c));background:-webkit-linear-gradient(top,#82cc5d 0%,#53b73c 100%);background:-o-linear-gradient(top,#82cc5d 0%,#53b73c 100%);background:-ms-linear-gradient(top,#82cc5d 0%,#53b73c 100%);background:linear-gradient(top,#82cc5d 0%,#53b73c 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#82cc5d',endColorstr='#53b73c',GradientType=0 );border:1px solid #429E34}.green:hover{background:#99cc80;background:-moz-linear-gradient(top,#99cc80 0%,#53b73c 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#99cc80),color-stop(100%,#53b73c));
background:-webkit-linear-gradient(top,#99cc80 0%,#53b73c 100%);
background:-o-linear-gradient(top,#99cc80 0%,#53b73c 100%);
background:-ms-linear-gradient(top,#99cc80 0%,#53b73c 100%);
background:linear-gradient(top,#99cc80 0%,#53b73c 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cc80',endColorstr='#53b73c',GradientType=0 )}

.dc_3d_button{vertical-align:top;border-radius:4px;border:none;padding: 0px 10px 0px 10px;}
.dc_3d_button:hover{color:#fff !important}
.dc_3d_button:active{position:relative;top:5px}

.dc_3d_button.white{box-shadow:#ddd 0 3px 0px,rgba(0,0,0,0.3) 0 3px 3px}
.dc_3d_button.white:active{box-shadow:#f2f2f2 0 2px 0,rgba(0,0,0,0.2) 0 6px 3px}

.dc_3d_button.gray{box-shadow:#999999 0 3px 0px,rgba(0,0,0,0.3) 0 3px 3px}
.dc_3d_button.gray:active{box-shadow:#AEAEAE 0 2px 0,rgba(0,0,0,0.2) 0 6px 3px}

.dc_3d_button.orange{box-shadow:#d07400 0 3px 0px,rgba(0,0,0,0.3) 0 3px 3px}
.dc_3d_button.orange:active{box-shadow:#c46d00 0 2px 0,rgba(0,0,0,0.2) 0 6px 3px}

.dc_3d_button.magenta{box-shadow:#d60761 0 3px 0px,rgba(0,0,0,0.3) 0 3px 3px}
.dc_3d_button.magenta:active{box-shadow:#ca075c 0 2px 0,rgba(0,0,0,0.2) 0 6px 3px}

.dc_3d_button.blue{box-shadow:#0059B3 0 3px 0px,rgba(0,0,0,0.3) 0 3px 3px}
.dc_3d_button.blue:active{box-shadow:#0065CA 0 2px 0,rgba(0,0,0,0.2) 0 6px 3px}

.dc_3d_button.cyan{box-shadow:#1994d3 0 3px 0px,rgba(0,0,0,0.3) 0 3px 3px}
.dc_3d_button.cyan:active{box-shadow:#1994d3 0 2px 0,rgba(0,0,0,0.2) 0 6px 3px}

.dc_3d_button.red{box-shadow:#a71d11 0 3px 0px,rgba(0,0,0,0.3) 0 3px 3px}
.dc_3d_button.red:active{box-shadow:#88180e 0 2px 0,rgba(0,0,0,0.2) 0 6px 3px}

.dc_3d_button.black{box-shadow:#000 0 3px 0px,rgba(0,0,0,0.3) 0 3px 3px,inset rgba(255,255,255,0.3) 0 0 3px}
.dc_3d_button.black:active{box-shadow:#000 0 2px 0,rgba(0,0,0,0.2) 0 6px 3px,inset rgba(255,255,255,0.3) 0 0 3px}

.dc_3d_button.green{box-shadow:#479a33 0 3px 0px,rgba(0,0,0,0.3) 0 3px 3px}
.dc_3d_button.green:active{box-shadow:#439230 0 2px 0,rgba(0,0,0,0.2) 0 6px 3px}

.button span,
.dc_3d_button span{font-weight:normal;vertical-align:middle;line-height:0;margin-right:.1em}

.refresh:after{content:"h";font-size:34px}
.shuffle:after{content:"f";font-size:34px}
.preview:after{content:"M";font-size:34px}
.tea:after{content:"u";font-size:34px}
.wifi:after{content:"T";font-size:34px}
.locator:after{content:"0";font-size:34px}
.rss:after{content:"S";font-size:34px}
.cloud:after{content:"y";font-size:34px}
.download:after{content:"w";font-size:34px}
.trash:after{content:"I";font-size:34px}
.rack:after{content:"t";font-size:34px}
.map:after{content:"1";font-size:34px}
.setting:after{content:"@";font-size:34px}
.identity:after{content:".";font-size:34px}
.navigation:after{content:"2";font-size:34px}
.gallery:after{content:"p";font-size:34px}
.email:after{content:"%";font-size:34px}
.users:after{content:"+";font-size:34px}
.calendar:after{content:"P";font-size:34px}
.link:after{content:">";font-size:34px}
.time:after{content:"N";font-size:34px}
.folder:after{content:"s";font-size:34px}
.tag:after{content:"C";font-size:34px}
.share:after{content:"5";font-size:34px}
.lock:after{content:"U";font-size:34px}
.unlock:after{content:"V";font-size:34px}
.mic:after{content:"O";font-size:34px}
.love:after{content:"6";font-size:34px}
.star:after{content:"7";font-size:34px}
.like:after{content:"8";font-size:34px}
.phone:after{content:"!";font-size:34px}
.flag:after{content:"?";font-size:34px}
.adduser:after{content:"-";font-size:34px}
.attach:after{content:"'";font-size:34px}
.comment:after{content:":";font-size:34px}
.edit:after{content:"&";font-size:34px}
.upload:after{content:"v";font-size:34px}
.storage:after{content:"x";font-size:34px}
.photo:after{content:"D";font-size:34px}
.help:after{content:"K";font-size:34px}
.glass:after{content:"R";font-size:34px}
.print:after{content:"<";font-size:34px}
.gadget:after{content:'"';font-size:34px}

