
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  font-family:Helvetica,Arial,sans-serif;
}
#cssmenu {
  width: 220px;
  border-bottom: 4px solid #656659;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#cssmenu a {
 
}
#cssmenu > ul > li:first-child {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
  border: 1px solid #45463d;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;

  
}
#cssmenu > ul > li:first-child > a {
  padding: 15px 10px;
  background: url(pattern.png) top left repeat;
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0; 
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 0 -1px 1px #000000;
}
#cssmenu > ul > li:first-child > a > {
  padding: 0;
}
#cssmenu > ul > li:first-child:hover {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
}
#cssmenu > ul > li {
  background: #ff82ac;
  background: -moz-linear-gradient(#ff82ac 0%, #ff4f8a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff82ac), color-stop(100%, #ff4f8a));
  background: -webkit-linear-gradient(#ff82ac 0%, #ff4f8a 100%);
  background: linear-gradient(#ff82ac 0%, #ff4f8a 100%);
text-indent:  10px;
vertical-align: middle;
font-family:Helvetica,Arial,sans-serif;
font-size: 14px;

}
#cssmenu > ul > li:hover {
  background: #ff73a2;
  background: -moz-linear-gradient(#ff73a2 0%, #ff4080 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff73a2), color-stop(100%, #ff4080));
  background: -webkit-linear-gradient(#ff73a2 0%, #ff4080 100%);
  background: linear-gradient(#ff73a2 0%, #ff4080 100%);
}
#cssmenu > ul > li > a {
  font-size: 13px;
  display: block;
  background: url(images/pattern.png) top left repeat;
  color: #ffffff;
  border: 1px solid #ff3579;
  border-top: none;
  text-shadow: 0 -1px 1px #e8004e;
}
#cssmenu > ul > li > a > {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.has-sub > a {
  background: url(images/icon_plus.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a {
  background: url(images/icon_minus.png) 96% center no-repeat;
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
  background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;
}
#cssmenu ul ul li {
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}
#cssmenu ul ul li:last-child {
  border-bottom: none;
}
#cssmenu ul ul a {
  padding: 5px 5px 5px 25px;
  display: block;
  color: #676767;
  font-size: 13px;
  font-weight: normal;
}
#cssmenu ul ul a:before {
  content: '»';
  position: absolute;
  left: 10px;
  color: #ff82ac;
}
#cssmenu ul ul a:hover {
  color: #ff82ac;
}
